## Map() Function on Dataframe

In [33]:
import findspark
findspark.init()

In [34]:
import pyspark

In [40]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
sc = spark.sparkContext

In [46]:
data = sc.parallelize([('demet','ozdemir','F',30),
  ('Can','Yaman','M',31),
  ('Lee','Ho','M',34), 
])

In [47]:
# Create a Spark Dataframe
columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    demet| ozdemir|     F|    30|
|      Can|   Yaman|     M|    31|
|      Lee|      Ho|     M|    34|
+---------+--------+------+------+

In [48]:
# Refering columns by index.
rdd2=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()

+-------------+------+----------+
|         name|gender|new_salary|
+-------------+------+----------+
|demet,ozdemir|     F|        60|
|    Can,Yaman|     M|        62|
|       Lee,Ho|     M|        68|
+-------------+------+----------+

## Map Function on Rdd

In [49]:
import findspark
findspark.init()

In [50]:
import pyspark

In [51]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Exam').getOrCreate()
sc = spark.sparkContext

In [53]:
data = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)

In [59]:
rdd9=rdd.map(lambda x: (x,1))
for element in rdd9.collect():
    print(element)

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)